@tailwind base;
@tailwind components;
@tailwind utilities;


.logincard {
    width: 400px;
  
    @apply mx-auto my-20 bg-white shadow-2xl rounded-xl p-7;
    /* box-shadow: 3px 7px 22px rgba(10, 0, 0, 0.1); */
  }
  
  .title {
    @apply m-0 text-2xl font-bold text-center text-gray-700 capitalize;
  }
  .subtitle {
    @apply font-medium text-center text-gray-700 capitalize;
  }
  
  .email-login {
    @apply flex flex-col;
  }
  .email-login label {
    color: rgb(170 166 166);
    @apply mt-3;
  }
  
  .login--input {
    @apply box-border px-5 py-4 mt-2 mb-4 border border-white border-solid rounded-lg;
  }
  
  .cta-btn {
    background-color: rgb(69, 69, 185);
    @apply w-full px-5 py-4 mt-3 mb-5 text-white border-0 rounded-xl;
  }
  
  .forget-pass {
    @apply block my-4 text-center;
  }
  
  /* cardlist */
  
  .item--cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 15px;
    align-items: stretch;
    height: 300px;
    margin-left: 20px;
    max-height: 348px;
  }
  
  .note--cards {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(66, 71, 117, 0.68);
    background: white;
    
  }
  
  .note-content-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 15px;
    align-items: stretch;
    width: 100%;
  }
  
  .contentnote--cards {
    @apply bg-white border-gray-200;
    box-shadow: 0px 3px 10px rgba(66, 71, 117, 0.68);
    border-radius: 8px;
    height: 300px;
    transition: all 0.1s ease-in;
    width: 100%;
    max-width: 280px;
  }
  .contentnote--cards:hover {
    @apply bg-gray-200;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(66, 71, 117, 0.68);
  }
  
  .explore {
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(66, 71, 117, 0.68);
    background: white;
  }
  /* animations */
  
  .setting--envalop::marker {
    content: "\f0e0";
    font-family: "Font Awesome 5 free";
    font-weight: 700;
    color: gray;
    /* animations */
  }
  .underline-effect {
    display: inline-block;
    position: relative;
  }
  
  .underline-effect:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(168, 166, 166);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline-effect:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .setting--envalop::marker {
    content: "\f0e0";
    font-family: "Font Awesome 5 free";
    font-weight: 700;
    color: gray;
    /* animations */
  }
  .underline-effect {
    display: inline-block;
    position: relative;
  }
  
  .underline-effect:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(168, 166, 166);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline-effect:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* input file */
  
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .inputfile + label {
    font-size: 1em;
    font-weight: 400;
    color: white;
    background-color: rgb(59, 130, 254);
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .inputfile:focus + label,
  .inputfile + label:hover {
    content: "uploaded";
    background-color: rgb(45, 62, 95);
  }
  .inputfile + label {
    cursor: pointer;
  }
  